/*modify the overview summary display box*/
.summary {
    border-radius: 8px;
    border: 1px solid #777;
    background-color: white;
    flex-grow: 1;
    min-width: 80%;
    margin: 16px;
    /*following code try to limit view width and center the content for an easy reading experience*/
    /*width: 80%;
    transform: translateX(25%);*/
}

.summary-tab{
    background: white !important;
}

.summary span:hover{
    background-color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}

.summary .selected{
    background-color: lightblue;
}

/*left summary display section in viewing each contributed/omitted posts*/
.left-bar{
    justify-content: space-between;
    flex-basis: 34%;
    flex-grow: 1;
    margin: 0px 16px 8px 0px;
    align-items: center;
    /* padding: 16px 24px; */
}

.back-button{
    margin-right: auto;
    width: 2em;
    background-color: #F5F5F5;
    border:0px !important;
    box-shadow: none !important;
}

.selected-sentence{
    width: auto;
    text-wrap: wrap;
}