.summary {
    border: 3px solid black;
    padding: 5px;
}

.summary span:hover{
    background-color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}

.ai-summary h3{
    font-weight: lighter;
}

.left-bar{
    justify-content: space-between;
    background-color: #F5F5F5;
    flex-basis: 40%;
    margin: 3px;
    align-items: center;
    padding: 10px 5px;
}

.back-button{
    margin-right: auto;
    width: 2em;
    background-color: #F5F5F5;
    border:0px !important;
    box-shadow: none !important;
}

.selected-sentence{
    width: auto;
    text-wrap: wrap;
}