.dataset-display {
    background-color: lightgray;
    width: 20%;
    display: flex;
    align-items: center;
    padding: 3px 7px;
}
.text-block{
    overflow: hidden;
    flex-grow: 1;
}
.change-input{
    color: white;
    font-size: 10px;
    background-color: black;
    padding: 2px 10px;
    width: auto;
    height: auto;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 0.65em;
}
.small-font{
    font-size: 0.6em;
    padding: 0px 0px;
}
.large-font{
    font-size: 0.75em;
    padding: 0px 0px;
}
input[type=file]{
    display: none;
}