.dataset-display {
    background-color: lightgray;
    /* width: 20%; */
    max-width: 30%;
    display: flex;
    align-items: center;
    padding: 3px 7px;
    border-radius: 5px;
}
.text-block{
    overflow: hidden;
    flex-grow: 1;
}
.change-input{
    color: white;
    background-color: black;
    padding: 2px 10px;
    width: auto;
    height: auto;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    font-size: 0.65em;
}
/* for the ai summary button */
.generic-button{
    color: white;
    background-color: black;
    width: auto;
    font-size: 0.9em;
    border-radius: 10px;
    text-align: center;
}
.small-font{
    font-size: 0.6em;
    padding: 0px 0px;
}
.large-font{
    font-size: 0.75em;
    padding: 0px 0px;
}
/* input[type=file]{
    display: none;
} */