.parameter-display{
    border: none;
    flex-basis: 40%;
}
.parameter-display .title{
    font-size: 1.5em;
}
.parameter-display .container{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    height: 4.5em;
    width: 90%;
}