.sample-selector{
    align-self: center;
}

.sample-selector select{
    border: none;
    color: white;
    background-color: black;
    border-radius: 16px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-overflow: '';
    padding: 16px;
}

.sample-selector .hide{
    display: none;
}

.sample-selector option{
    background-color: white;
    color: black;
    text-align: left;
}
