.search-history{
    flex-grow: 1;
    align-self: center;
    display: flex;
    align-items: center;
    align-content: center;
}

.search-history span,img{
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.middle{
    display: flex;
    justify-content: space-around;
}

.middle img,div{
    margin: 0 5px;
}