.sort-bar{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
.box-container{
    display: flex;
    align-items: center;
}
.dropdowns{
    padding: 0px 10px;
}
.checkbox-round {
    width: 1.6em;
    height: 1.6em;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox-round:checked {
    background-color: gray;
}
.sort-bar select{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.8em;
}
.sort-bar strong{
    font-size: 0.9em;
}
.sort-bar img{
    cursor: pointer;
    width: 24px;
    height: 24px;
}