/*Here is CSS code modify the style of post display section on whole site*/
.tweet-display {
    /* background-color: #F5F5F5; */
    padding: 0px 2px;
    overflow: auto;
    flex-grow: 1;
    /* max-height: 100%; */
    /* flex-basis: 60%; */
    /* min-width: 70%; */
}
.tweet-display::-webkit-scrollbar {
    display: none;
  }

.tweet-container{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.tweet-data{
    border-radius: 8px;
    border: 1px solid rgba(119, 119, 119, 0.47);
    background: #FFF;
    padding: 16px 32px;
    margin: 8px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    flex-grow: 1;
}

.add-on{
    border-radius: 8px;
    border: 1px solid rgba(119, 119, 119, 0.47);
    background: #FFF;
    /* box-sizing: border-box; */
    /* padding: 16px 32px; */
    margin: 8px 0px;
    width: 200px;
    text-align: center;
    align-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.tweet-data img{
    max-height: 1em;
    vertical-align: bottom;
}
.userName{
    color: #000;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: bottom;
    padding: 5px 0px;
    margin-right: 8px
}
.date{
    color: #686868;
    vertical-align: bottom;
    padding: 5px 0px;
}
.state{
    color: #686868;
    vertical-align: bottom;
    padding: 5px 0px;
}
.retweets{
    color: #000;
    margin-left: auto;
    vertical-align: bottom;
    padding: 5px 0px;
}
.likes{
    color: #000;
    vertical-align: bottom;
    padding: 5px 0px;
}
.message{
    flex-basis: 100%;
    padding: 5px 0px;
}
.icon{
    max-height: 20px;
}

/*Need to figure out set max width to the whole site to shrink down the overall width of the site for better reading experience*/
.tweet-display .no-results{
    border: 1px solid #777;
    border-radius: 8px;
    background: #FFF;
    width: 96%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
}

.tweet-display-add-on{
    justify-content: space-around !important;
    margin-left: auto;
    align-self: center;
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}