.tweet-display {
    background-color: rgba(0,0,0,0.0);
    padding: 0px 2px;
    overflow: auto;
    max-height: 400px;
}
.tweet-data{
    border-radius: 15px;
    border: 2px solid black;
    padding: 5px 10px;
    margin: 6px 0px;
    display: flex;
    flex-wrap: wrap;
}
.tweet-data img{
    max-height: 1em;
    vertical-align: bottom;
}
.userName{
    flex-basis: 20%;
    font-weight: bold;
    font-size: 1.1em;
    vertical-align: bottom;
    padding: 5px 0px;
}
.date{
    flex-basis: 10%;
    vertical-align: bottom;
    padding: 5px 0px;
}
.state{
    flex-basis: 55%;
    vertical-align: bottom;
    padding: 5px 0px;
}
.retweets{
    flex-basis: 7%;
    vertical-align: bottom;
    padding: 5px 0px;
}
.likes{
    flex-basis: 8%;
    vertical-align: bottom;
    padding: 5px 0px;
}
.message{
    flex-basis: 100%;
    padding: 5px 0px;
}
.icon{
    max-height: 20px;
}